<div class="container">
    <div class="row">
        <div class="col-6 offset-3 mt-5  shadow p-3 mb-5 bg-body rounded">
            <div class="fs-4 text-center">Sign Up</div>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="mb-3">
                    <label for="name" class="form-label">Name<span class="required">*</span></label>
                    <input type="text" formControlName="name" name="name" id="name" class="form-control">
                    <div *ngIf="!name.valid && name.touched">
                        <div class="text-danger" *ngIf="name.errors?.['required']">Name is required</div>
                        <div class="text-danger" *ngIf="name.errors?.['maxlength']">Name should be maximum
                            {{name?.errors?.['maxlength']?.requiredLength}} characters</div>

                    </div>

                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email<span class="required">*</span></label>
                    <input type="email" formControlName="email" name="email" id="email" class="form-control">
                    <div *ngIf="email.errors?.['emailAlreadyTaken']">
                        <div class="text-danger">Email has already been taken</div>
                    </div>
                    <div *ngIf="email.pending">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="text-success mx-1">Checking for uniqueness...</span>
                    </div>
                    <div class="text-danger" *ngIf="email.errors?.['shouldBeUnique']">Email has already been
                        taken
                    </div>
                    <div *ngIf="!email.valid && email.touched">
                        <div class="text-danger" *ngIf="email.errors?.['required']">Email is required</div>
                        <div class="text-danger" *ngIf="email.errors?.['email']">Email is should be valid email</div>
                        <div class="text-danger" *ngIf="email.errors?.['maxlength']">Email should be maximum
                            {{email?.errors?.['maxlength']?.requiredLength}} characters</div>


                    </div>

                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password<span class="required">*</span></label>
                    <input type="password" formControlName="password" name="password" id="password"
                        class="form-control">
                    <div *ngIf="!password.valid && password.touched">
                        <div class="text-danger" *ngIf="password.errors?.['required']">Password is required</div>
                        <div class="text-danger" *ngIf="password.errors?.['canNotContainSpace']">
                            Password
                            cannot contain
                            spaces
                        </div>
                        <div class="text-danger"
                            *ngIf="!password.errors?.['canNotContainSpace'] && password.errors?.['minlength']">Password
                            must be atleast
                            {{password.errors?.['minlength']['requiredLength']}} characters</div>
                        <div class="text-danger"
                            *ngIf="!password.errors?.['canNotContainSpace'] && password.errors?.['maxlength']">Password
                            should be only
                            {{password.errors?.['maxlength']['requiredLength']}} characters long</div>


                    </div>
                </div>
                <div class="mb-3">
                    <label for="file" class="form-label">Avatar<span class="required">*</span></label>
                    <input type="file" (change)="onFileSelect($event)" formControlName="file" name="file" id="file"
                        class="form-control">
                    <div *ngIf="!file.valid && file.touched">
                        <div class="text-danger" *ngIf="file.errors?.['required']">Avatar is required</div>
                        <div class="text-danger" *ngIf="file.errors?.['invalidFileExtension']">Only jpg and png files
                            are allowed</div>
                    </div>

                </div>
                <!-- <div formGroupName="address">
                    <div class="mb-3">
                        <label for="district" class="form-label">District<span class="required">*</span></label>
                        <input type="text" formControlName="district" district="district" id="district"
                            class="form-control">
                        <div *ngIf="!district.valid && district.touched">
                            <div class="text-danger" *ngIf="district.errors?.['required']">District is required</div>

                        </div>

                    </div>
                    <div class="mb-3">
                        <label for="state" class="form-label">State<span class="required">*</span></label>
                        <input type="text" formControlName="state" state="state" id="state" class="form-control">
                        <div *ngIf="!state.valid && state.touched">
                            <div class="text-danger" *ngIf="state.errors?.['required']">State is required</div>

                        </div>

                    </div>
                </div> -->

                <input type="submit" class="btn btn-primary" value="Sign Up" [disabled]="!form.valid">
            </form>
        </div>
    </div>
</div>