<div class="container">
    <div class="row">
        <div class="col-12  mt-5  shadow p-3 mb-5 bg-body rounded">
            <table class="table table-hover table-borderless align-middle">
                <thead>
                    <tr>
                        <th scope="col">Avatar</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Active</th>
                        <th scope="col">Role</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>
                            <a [routerLink]="['profile',user?._id]" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                [title]="'View '+user.name + 's Profile'">

                                <img [src]="imageUrl+user.file" class="img-fluid" style="width:30px;height: 30px;">
                            </a>
                        </td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <span class="badge rounded-pill"
                                [ngClass]="user.isActive?'alert-success':'alert-danger'">{{user.isActive?'Active':'Deactive'}}
                            </span>
                        </td>
                        <td>
                            <span class="badge rounded-pill"
                                [ngClass]="user.isAdmin?'alert-success':'alert-danger'">{{user.isAdmin?'Admin':'User'}}
                            </span>
                        </td>
                        <td class="text-center">
                            <div *ngIf="user?._id!==currentUser?._id">
                                <button class="btn btn-sm " (click)="handleFriendRequest(user)" [ngClass]="
                                {
                                    'btn-outline-danger':user.status==='Remove Friend','btn-outline-primary':user.status==='Send Request','btn-outline-secondary':user.status==='Cancel Request','btn-outline-success':user.status==='sent'
                                }">
                                    <i class="bi " [ngClass]="
                                    {
                                    'bi-dash-circle-fill':user.status==='Remove Friend','bi-person-plus-fill':user.status==='Send Request','bi-x-circle-fill':user.status==='Cancel Request','bi-check-circle':user.status==='sent'
                                }
                                    "></i>
                                    <span class="mx-1">{{user.status==="sent"?'Accept':user.status}}</span>
                                </button>
                                <button class="btn btn-sm btn-outline-secondary mx-2" *ngIf="user.status==='sent'"
                                    (click)="handleFriendRequest(user,'cancel')">
                                    <i class="bi bi-x-circle-fill"></i>
                                    <span class="mx-1">Cancel</span>
                                </button>
                            </div>

                        </td>
                        <td>
                            <button type="button" (click)="selectUser(user)"
                                *ngIf="(currentUser?.isAdmin && !user.isAdmin)|| user?._id===currentUser._id"
                                class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                                data-bs-target="#updateModal" [attr.data-bs-whatever]="user"><i
                                    class="bi bi-pencil-square"></i></button>


                            <button class="btn btn-sm btn-outline-danger mx-4"
                                *ngIf="(currentUser?.isAdmin && !user.isAdmin)  || user?._id===currentUser._id"
                                (click)="deleteUser(user)">
                                <i class="bi bi-trash"></i>
                            </button>
                            <button class="btn btn-sm btn-outline-primary" (click)="viewUser(user)">
                                <i class="bi bi-info-circle-fill"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="update" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="update">Update User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="updateImageUrl('')"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="updateUser()">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name<span class="required">*</span></label>
                        <input type="text" formControlName="name" name="name" id="name" class="form-control"
                            [value]="name.value">
                        <div *ngIf="!name.valid && name.touched">
                            <div class="text-danger" *ngIf="name.errors?.['required']">Name is required</div>

                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email<span class="required">*</span></label>
                        <input type="email" formControlName="email" name="email" id="email" class="form-control"
                            [value]="email.value">
                        <div *ngIf="email.pending">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="text-success mx-1">Checking for uniqueness...</span>
                        </div>
                        <div class="text-danger" *ngIf="email.errors?.['shouldBeUnique']">Email has already been
                            taken
                        </div>
                        <div *ngIf="!email.valid && email.touched">
                            <div class="text-danger" *ngIf="email.errors?.['required']">Email is required</div>
                            <div class="text-danger" *ngIf="email.errors?.['email']">Email is should be valid email
                            </div>


                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="file" class="form-label">Avatar<span class="required">*</span></label>
                        <label class="btn">
                            <span>
                                <div class="text-center m-2"
                                    *ngIf="selectedUser?.file && (file.value || localImageUrl)">
                                    <img [src]="(localImageUrl ) || (imageUrl+selectedUser?.file) | sanitizerUrl"
                                        alt="..." class="img-fluid img-thumbnail rounded h-50 w-50" />
                                </div>
                            </span>
                            <input type="file" style="display:none" class="form-control" name="file"
                                (change)="onFileSelect($event)" formControlName="file" name="file" id="file" />

                            <div *ngIf="!file.valid && file.touched">
                                <div class="text-danger" *ngIf="file.errors?.['required']">Avatar is required</div>
                                <div class="text-danger" *ngIf="file.errors?.['invalidFileExtension']">Only jpg and png
                                    files
                                    are allowed</div>
                            </div>
                        </label>
                    </div>
                    <div *ngIf="currentUser.isAdmin && !selectedUser?.isAdmin">

                        <div class="mb-3 form-check">

                            <input type="checkbox" class="form-check-input" name="isAdmin" formControlName="isAdmin"
                                name="isAdmin" id="isAdmin" [checked]="isAdmin?.value" />

                            <label for="isAdmin" class="form-check-label">isAdmin<span class="required">*</span></label>
                        </div>
                        <div class="mb-3 form-check">

                            <input type="checkbox" class="form-check-input" name="isActive" formControlName="isActive"
                                name="isActive" id="isActive" [checked]="isActive?.value" />

                            <label for="isActive" class="form-check-label">isActive<span
                                    class="required">*</span></label>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Update" [disabled]="!form.valid"
                            data-bs-dismiss="modal">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            (click)="updateImageUrl('')">Close</button>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>