<div class="container" *ngIf="showLoader">
    <div class="row">
        <div class="col text-center mt-5">

            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="!showLoader">
    <div class="row">
        <div class="col mt-0 shadow p-3 mb-2 bg-body rounded text-center" *ngIf="currentUser?._id">
            <div class="float-start offset-3">
                <div class="text-center text-primary">

                    <img [src]="imageUrl+currentUser?.file" class="img-responsive " style="width:100px;height: 100px;"
                        *ngIf="currentUser?.file" onerror="this.parentElement.innerHTML='<i class=bi-image-alt></i>'" />
                </div>

                <h2 class="text-center">{{currentUser?.name}}</h2>
            </div>

            <post-form (newPostEvent)="addNewPost($event)" [user]="currentUser">
            </post-form>

        </div>
        <div *ngIf="!currentUser?._id" class="col mt-5 alert alert-danger alert-dismissible fade show text-center">
            <strong>Login to post</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <posts [user]="currentUser" [currentUser]="currentUser" [posts]="posts"></posts>
    </div>
</div>